header {
    font-size: 59px;
    text-align: center;
    font-family: 'Sigmar One',sans-serif;
    color: #c83232;
}

body {
    margin: 0;
    background-color: #323232;
    font-family: 'Gloria Hallelujah',arial
}

.container {
    width: 1100px;
    margin: 0 auto;
    margin-top: 10px;
    min-height: 350px;

}

.content {
    background: url(../images/paper-background.png);
    box-shadow: 2px 3px 7px rgba(0,0,0,.7);
    width: 700px;
    margin: 0 auto;
    display: inline-block;
}

.createPoll {
    display: block;
}

.pollHeader {
    position: relative;
    min-height: 60px;
    padding-top: 5px;
    margin-left: 70px;
    font-size: 25px;
    /* display: inline-block; */
}
textarea {
    /* margin: 0 auto; */
    font-family: inherit;
    background: transparent;
    display: block;
    font-size: 25px;
    border: 0;
    width: 625px;
    /* border: 0; */
    /* padding: 0; */
    /* vertical-align: middle; */
    /* width: 600px; */
}

.pollBody {
    background: url(../images/paper-line.png);
    line-height: 1.4;
}

.results {
    line-height: 40px;;
}

.pollOption, .voteOption {
    /* font-size: 16px; */
    max-height: 40px;
}

.optionNumber {
    vertical-align: top;
    display: inline-block;
    color: #c83232;
    width: 30px;
    margin-left: 22px;
    height: 40px;
    font-size: 29px;
}

input[type=text] {
    font-family: inherit;
    display: inline-block;
    height: 40px;
    padding: 0;
    border: 0;
    margin: 0;
    /* vertical-align: middle; */
    font-size: inherit;
    background: transparent;
    width: 620px;
}

.pollFooter {
    background-image: url(../images/paper-line.png);
    background-repeat: no-repeat;
    padding-top: 8px;
    padding-left: 72px;
    padding-right: 20px;
    height: 80px;
}

button {
    background: #444;
    font-size: 21px;
    font-family: 'Sigmar One', sans-serif;
    color: #fff;
    height: 40px;
    border: 0;
    border-radius: 5px;
    margin-top: 12px;
    padding: 0 6px;
    cursor: pointer;
}

button.left {
    float: left;
}

button.right {
    float: right;
}

input[type=radio] {
    vertical-align: middle;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    width: 30px;
    border: 0;
}

.optionResult {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    max-height: 40px;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 25px;
    width: 100%;
    max-width: 620px;    
}

.optionCount {
    margin-left: 120px;
    font-size: 16px;
}

.resultMeter {
    display: inline-block;
    width: 150px;
    height: 18px;
    background: #ddd;
    vertical-align: middle;
    border-radius: 4px;
    overflow: hidden;
}

.meter {
    width: 0%;
    background-image: url(../images/meter-bar.png);
    height: 100%;
}

.pie {
    /* display: inline-block; */
    /* /\* margin: 0 auto; *\/ */
    /* margin-left: 20px; */
    /* vertical-align: top; */
}

.pie {
  height: 300px;
  width: 300px;
  overflow: visible;
  background-image: url(/* need image */);
  display: inline-block;
  vertical-align: top;
}

.pie svg {
  width: 300px;
  height: 300px;
  overflow: visible;
}

.pie svg>g path {
  overflow: visible;
}

.pie svg>g path {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
}

.pie svg>g path:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.pie svg>g:hover text:not(.hover) {
  opacity: .25; 
}

.pie svg>g text {
  font-family: 'Walter Turncoat',sans-serif;
  pointer-events: none; /*Never knew about this till now*/
  fill: #000;
  text-anchor: middle;
  font-size: .8em;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  overflow: visible;
  z-index: 1;
}

.pie svg>g text.hover {
  font-size: 1.3em;
  fill: #fff;
  filter: url(#pieTextFilter);
  visibility: visible !important;
}
